<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
    <title>eBook</title>
  </head>
  <style type="text/css">
    .read-content {
      border: 2px solid black;
      height: 680px;
      width: 530px;
      padding: 20px;
    }
  </style>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a
        class="navbar-brand"
        href="/"
        style="font-size: 40px; padding-left: 10%"
        >Audiofy <span id="myEmotion">&#128528;</span></a
      >
    </nav>
    <div class="container-fluid" style="margin-top: 10px; width: 80%">
      <div class="form-group">
        <label>Select PDF file</label>
        <input type="file" id="myPdf" />
      </div>
    </div>
    <center>
      <canvas id="the-canvas"></canvas>
      <div>
        <button id="prev">Previous</button>
        <button id="next">Next</button>
        &nbsp; &nbsp;
        <span
          >Page: <span id="page_num"></span> / <span id="page_count"></span
        ></span>
      </div>
    </center>

    <audio id="myAudioFun">
      {% load static %} <source src="{% static "audiofy/fun.mp3" %}"
      type="audio/mpeg"> Your browser does not support the audio element.
    </audio>

    <audio id="myAudioHappy">
      {% load static %} <source src="{% static "audiofy/happy.mp3" %}"
      type="audio/mpeg"> Your browser does not support the audio element.
    </audio>

    <audio id="myAudioSad">
      {% load static %} <source src="{% static "audiofy/sad.mp3" %}"
      type="audio/mpeg"> Your browser does not support the audio element.
    </audio>

    <audio id="myAudioWorry">
      {% load static %} <source src="{% static "audiofy/worry.mp3" %}"
      type="audio/mpeg"> Your browser does not support the audio element.
    </audio>

    <audio id="myAudioHate">
      {% load static %} <source src="{% static "audiofy/hate.mp3" %}"
      type="audio/mpeg"> Your browser does not support the audio element.
    </audio>

    <audio id="myAudioRelief">
      {% load static %} <source src="{% static "audiofy/relief.mp3" %}"
      type="audio/mpeg"> Your browser does not support the audio element.
    </audio>

    <audio id="myAudioNeutral">
      {% load static %} <source src="{% static "audiofy/neutral.mp3" %}"
      type="audio/mpeg"> Your browser does not support the audio element.
    </audio>
  </body>
  <script type="text/javascript">
    var pdfjsLib = window["pdfjs-dist/build/pdf"];
    pdfjsLib.GlobalWorkerOptions.workerSrc =
      "https://mozilla.github.io/pdf.js/build/pdf.worker.js";
    var url = "../static/audiofy/sample_book.pdf";

    var pdfDoc = null,
      pageNum = 1,
      pageRendering = false,
      pageNumPending = null,
      scale = 1.0,
      canvas = document.getElementById("the-canvas"),
      ctx = canvas.getContext("2d");

    /**
     * Get page info from document, resize canvas accordingly, and render page.
     * @param num Page number.
     */
    function renderPage(num) {
      pageRendering = true;
      // Using promise to fetch the page
      pdfDoc.getPage(num).then(function (page) {
        var viewport = page.getViewport({ scale: scale });
        canvas.height = viewport.height;
        canvas.width = viewport.width;

        // Render PDF page into canvas context
        var renderContext = {
          canvasContext: ctx,
          viewport: viewport,
        };
        var renderTask = page.render(renderContext);

        // Wait for rendering to finish
        renderTask.promise.then(function () {
          pageRendering = false;
          if (pageNumPending !== null) {
            // New page rendering is pending
            renderPage(pageNumPending);
            pageNumPending = null;
          }
        });
      });

      // Update page counters
      document.getElementById("page_num").textContent = num;
    }

    /**
     * If another page rendering in progress, waits until the rendering is
     * finised. Otherwise, executes rendering immediately.
     */
    function queueRenderPage(num) {
      if (pageRendering) {
        pageNumPending = num;
      } else {
        renderPage(num);
      }
    }

    /**
     * Displays previous page.
     */
    function onPrevPage() {
      if (pageNum <= 1) {
        return;
      }
      pageNum--;
      queueRenderPage(pageNum);
    }
    document.getElementById("prev").addEventListener("click", onPrevPage);

    /**
     * Displays next page.
     */
    function onNextPage() {
      if (pageNum >= pdfDoc.numPages) {
        return;
      }
      pageNum++;
      queueRenderPage(pageNum);
    }
    document.getElementById("next").addEventListener("click", onNextPage);

    /**
     * Asynchronously downloads PDF.
     */
    pdfjsLib.getDocument(url).promise.then(function (pdfDoc_) {
      pdfDoc = pdfDoc_;
      document.getElementById("page_count").textContent = pdfDoc.numPages;

      // Initial/first page rendering
      renderPage(pageNum);
    });
    $("#myPdf").on("change", function (e) {
      var file = e.target.files[0];
      if (file.type == "application/pdf") {
        var fileReader = new FileReader();
        fileReader.onload = function () {
          var pdfData = new Uint8Array(this.result);
          // Using DocumentInitParameters object to load binary data.
          var loadingTask = pdfjsLib.getDocument({ data: pdfData });
          loadingTask.promise.then(function (pdfDoc_) {
            pdfDoc = pdfDoc_;
            document.getElementById("page_count").textContent = pdfDoc.numPages;

            // Initial/first page rendering
            pageNum = 1;
            renderPage(pageNum);
          });
        };
        fileReader.readAsArrayBuffer(file);
      }
    });
    let oldEmotion = "empty";
    let x = document.getElementById("myAudioNeutral");
    function playSong(emotion) {
      console.log(emotion);
      if (emotion != oldEmotion) {
        x.pause();
        x.currentTime = 0;
        switch (emotion) {
          case "joy":
            x = document.getElementById("myAudioHappy");
            x.play();
            break;
          case "surprise":
            x = document.getElementById("myAudioFun");
            x.play();
            break;
          case "sadness":
            x = document.getElementById("myAudioSad");
            x.play();
            break;
          case "fear":
            x = document.getElementById("myAudioWorry");
            x.play();
            break;
          case "hate":
            x = document.getElementById("myAudioHate");
            x.play();
            break;
          case "love":
            x = document.getElementById("myAudioRelief");
            x.play();
            break;
          default:
            x = document.getElementById("myAudioNeutral");
            x.play();
            break;
        }
        oldEmotion = emotion;
      }
    }

    // const contentPara = document.getElementById('myTextFileContent');

    // $.ajaxSetup({cache: false});

    // setInterval(read, 3000);

    // function read(){
    //     jQuery.get('../static/audiofy/output.txt',function(data){
    //     contentPara.innerHTML=data;
    //     console.log(data);
    //     });
    // }

    const contentEmotion = document.getElementById("myEmotion");

    $.ajaxSetup({ cache: false });

    //setInterval(readEmotion, 2000);

    function readEmotion() {
      jQuery.get("../static/audiofy/emotion.txt", function (emotion) {
        console.log(emotion);
        emotion = emotion.replace(/[\n\t\r]/g, "");
        console.log(emotion);
        switch (emotion) {
          case "joy":
            tag = "&#128522;";
            break;
          case "sadness":
            tag = "&#128532;";
            break;
          case "anger":
            tag = "&#128545;";
            break;
          case "love":
            tag = "&#128525;";
            break;
          case "surprise":
            tag = "&#128558;";
            break;
          case "fear":
            tag = "&#128561;";
            break;
          default:
            tag = "&#128528;";
        }
        //playSong(emotion)
        contentEmotion.innerHTML = tag;
      });
    }
  </script>
</html>
