<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    {% load static %}
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/audiofy/styles/main.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>eBook</title>
  </head>
  <body>
    <div class="navigation-bar">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Audiofy</a>
        </div>
      </nav>
    </div>
    <div class="container" style="margin-top:20px; width:80%">
      <div class="row">
    <div id="myEmotion" style="margin-top: -12px;margin-bottom: 0px;padding: 0px;font-size:100px">
      &#128528;
    </div>
    <div class="container-fluid" style="margin-top: 10px; width: 80%">
      <div class="form-group">
        <label>Select PDF file</label>
        <input type="file" id="myPdf" />
      </div>
    </div>
    </div>
    
    <center>
      <canvas id="the-canvas"></canvas>
      <div>
        <button id="prev">Previous</button>
        <button id="next">Next</button>
        &nbsp; &nbsp;
        <span
          >Page: <span id="page_num"></span> / <span id="page_count"></span
        ></span>
      </div>
    </center>

    <audio id="myAudioFun">
      {% load static %} <source src="{% static "audiofy/fun.mp3" %}"
      type="audio/mpeg"> Your browser does not support the audio element.
    </audio>

    <audio id="myAudioHappy">
      {% load static %} <source src="{% static "audiofy/happy.mp3" %}"
      type="audio/mpeg"> Your browser does not support the audio element.
    </audio>

    <audio id="myAudioSad">
      {% load static %} <source src="{% static "audiofy/sad.mp3" %}"
      type="audio/mpeg"> Your browser does not support the audio element.
    </audio>

    <audio id="myAudioWorry">
      {% load static %} <source src="{% static "audiofy/worry.mp3" %}"
      type="audio/mpeg"> Your browser does not support the audio element.
    </audio>

    <audio id="myAudioHate">
      {% load static %} <source src="{% static "audiofy/hate.mp3" %}"
      type="audio/mpeg"> Your browser does not support the audio element.
    </audio>

    <audio id="myAudioRelief">
      {% load static %} <source src="{% static "audiofy/relief.mp3" %}"
      type="audio/mpeg"> Your browser does not support the audio element.
    </audio>

    <audio id="myAudioNeutral">
      {% load static %} <source src="{% static "audiofy/neutral.mp3" %}"
      type="audio/mpeg"> Your browser does not support the audio element.
    </audio>
  </body>
  <script type="text/javascript">
    var pdfjsLib = window["pdfjs-dist/build/pdf"];
    pdfjsLib.GlobalWorkerOptions.workerSrc =
      "https://mozilla.github.io/pdf.js/build/pdf.worker.js";

    let pdfDoc = null,
      pageNum = 1,
      pageRendering = false,
      pageNumPending = null,
      scale = 1.0,
      canvas = document.getElementById("the-canvas"),
      ctx = canvas.getContext("2d");

     function b64toBlob(b64Data, contentType, sliceSize) {
        contentType = contentType || '';
        sliceSize = sliceSize || 512;

        let byteCharacters = atob(b64Data);
        let byteArrays = [];

        for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
            var slice = byteCharacters.slice(offset, offset + sliceSize);
            var byteNumbers = new Array(slice.length);
            for (var i = 0; i < slice.length; i++) {
                byteNumbers[i] = slice.charCodeAt(i);
            }
            let byteArray = new Uint8Array(byteNumbers);
            byteArrays.push(byteArray);
        }

      let blob = new Blob(byteArrays, {type: contentType});
      return blob;
    }

    function renderPage(num) {
      pageRendering = true;
      pdfDoc.getPage(num).then(function (page) {
        var viewport = page.getViewport({ scale: scale });
        canvas.height = viewport.height;
        canvas.width = viewport.width;

        let renderContext = {
          canvasContext: ctx,
          viewport: viewport,
        };
        let renderTask = page.render(renderContext);

        renderTask.promise.then(function () {
          pageRendering = false;
          if (pageNumPending !== null) {
            renderPage(pageNumPending);
            pageNumPending = null;
          }
          let image_data = canvas.toDataURL('image/png');
          let block = image_data.split(";");
          let contentType = block[0].split(":")[1]
          let realData = block[1].split(",")[1];
          let blob = b64toBlob(realData, contentType);
          let formData = new FormData();
          formData.append("screenshot", blob, 'screenshot.png');
          $.ajax({
              url: "save_screenshot",
              type: "POST",
              timeout: 0,
              processData: false,
              mimeType: "multipart/form-data",
              contentType: false,
              data: formData,
              dataType:"json",
              success: function (data) {
                    console.lg("Screenshot saved successfully!");
              },
              error: function (e) {
                  console.log(e);
              }
            });
        });
      });

      document.getElementById("page_num").textContent = num;
    }

    function queueRenderPage(num) {
      if (pageRendering) {
        pageNumPending = num;
      } else {
        renderPage(num);
      }
    }

    function onPrevPage() {
      if (pageNum <= 1) {
        return;
      }
      pageNum--;
      queueRenderPage(pageNum);
    }
    document.getElementById("prev").addEventListener("click", onPrevPage);

    function onNextPage() {
      if (pageNum >= pdfDoc.numPages) {
        return;
      }
      pageNum++;
      queueRenderPage(pageNum);
    }
    document.getElementById("next").addEventListener("click", onNextPage);

    $("#myPdf").on("change", function (e) {
      let file = e.target.files[0];
      if (file.type == "application/pdf") {
        let fileReader = new FileReader();
        fileReader.onload = function () {
          let pdfData = new Uint8Array(this.result);
          let loadingTask = pdfjsLib.getDocument({ data: pdfData });
          loadingTask.promise.then(function (pdfDoc_) {
            pdfDoc = pdfDoc_;
            document.getElementById("page_count").textContent = pdfDoc.numPages;
            pageNum = 1;
            renderPage(pageNum);
          });
        };
        fileReader.readAsArrayBuffer(file);
      }
    });

    const audioMapper = {
      joy: "myAudioHappy",
      sadness: "myAudioSad",
      anger: "myAudioHate",
      love: "myAudioRelief",
      surprise: "myAudioFun",
      fear: "myAudioWorry"
    };

    let oldEmotion = "empty";
    let x = document.getElementById("myAudioNeutral");
    function playSong(emotion) {
      console.log(emotion);
      if (emotion != oldEmotion) {
        x.pause();
        x.currentTime = 0;
        x = document.getElementById(audioMapper[emotion] != undefined ? audioMapper[emotion] : "myAudioNeutral");
        x.play();
        oldEmotion = emotion;
      }
    }

    const contentEmotion = document.getElementById("myEmotion");

    $.ajaxSetup({ cache: false });

    setInterval(readEmotion, 2000);
    
    const emojiMapper = {
      joy: "&#128522;",
      sadness: "&#128532;",
      anger: "&#128545;",
      love: "&#128525;",
      surprise: "&#128558;",
      fear: "&#128561;",
    };

    function readEmotion() {
      jQuery.get("../static/audiofy/emotion.txt", function (emotion) {
        emotion = emotion.replace(/[\n\t\r]/g, "");
        tag = (emojiMapper[emotion]!=undefined) ? emojiMapper[emotion] : "&#128528;";
        playSong(emotion)
        contentEmotion.innerHTML = tag;
      });
    }
  </script>
</html>
